
    <div class="modal-header">
        <h4>Customer Lookup</h4>
    </div>
    <div class="modal-content">
        <div class="form-group">
            <label for="telephone">Telephone</label>
            <input type="text" class="form-control" [(ngModel)]="telephone"  name="telephone" />
        </div>
        <div class="form-group"> 
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" [(ngModel)]="firstName"  name="firstName" />
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" [(ngModel)]="lastName"  name="lastName" />
        </div>
        <div class="customer-list-scrollbar">
            <div class="btn-group-vertical form-control">
                <button type="button" *ngFor="let cust of CustomerList" class="btn btn-info form-control border"
                     (click)="customerSelected(cust.customerUID)" >{{cust.cFirstName + ' ' + cust.cLastName}}</button>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <div class="row">
            <button class="btn btn-info" (click)="search()">Search</button>&nbsp;
            <button class="btn btn-info" (click)="cancel()">Cancel</button>&nbsp;
            <button class="btn btn-info" (click)="newcust()">New Customer</button>&nbsp;
        </div>
    </div>
    <div *ngIf="showErrMsg">
        <div class="strongmsg">{{strongErrMessage}}</div><div class="errmsg">{{errMessage}}</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<!-- </modal> -->