<div class="panel" style="background-color:lightgrey;">
    <div class="panel-body ms-2 me-2 mt-2 mb-2">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <td><h4>Item Description</h4></td>
                        <td *ngIf="!allowTips"><h4>Quantity</h4></td>
                        <td *ngIf="allowTips"><h4>Serviced By</h4></td>
                        <td class="rightjustfy"><h4>Unit Price</h4></td>
                        <td class="rightjustfy"><h4>Discount</h4></td>
                        <td class="rightjustfy"><h4>Exch Coupon</h4></td>
                        <td class="rightjustfy"><h4>Sales Tax</h4></td>
                        <td class="rightjustfy"><h4>Total</h4></td>
                    </tr>
                </thead>
                <tr *ngFor="let itm of tktDtlItems; let i = index;">
                    <td><h4><label class="label label-default">{{itm.salesItemDesc}}</label></h4></td>
                    <td *ngIf="!allowTips">
                        <h4><span class="label label-default">&nbsp; {{itm.quantity}} &nbsp;</span></h4>
                    </td>
                    <td *ngIf="allowTips">
                        <h4><span class="label label-default">&nbsp; {{itm.firstName + ' ' + itm.lastName}} &nbsp;</span></h4>
                    </td>
                    <td class="rightjustfy">
                        <h4><label class="label label-default">{{itm.unitPrice }}</label></h4>
                    </td>
                    <td class="rightjustfy">
                        <h4><label class="label label-default">{{itm.discount }}</label></h4>
                    </td>
                    <td class="rightjustfy">
                        <h4><label class="label label-default">{{itm.exchCoupon }}</label></h4>
                    </td>
                    <td class="rightjustfy">
                        <h4><label class="label label-default">{{itm.saleTax }}</label></h4>
                    </td>
                    <td class="rightjustfy">
                        <h4><label class="label label-default">{{itm.unitPrice * itm.quantity }}</label></h4>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <table class="table">
                <td style="width:10%">
                    <button id="btnCancel" class="btn btn-primary" (click)="btnCancelClicked();">Cancel</button>
                </td>
                <td style="width:80%"></td>
                <td style="width:10%">
                    <button id="btnAddRemove" class="btn btn-primary" (click)="btnAddRemove();">Cancel</button>
                </td>
            </table>
        </div>
    </div>
</div>
