<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
    <div class="panel">
        <div class="panel-title">
            {{tktSaveResultMessage}}
        </div>
        <div class="panel-body">
            <table>
                <tr>
                    <td colspan="2">Ticket: {{saveTktRsltMdl.ticketNumber}}</td>
                </tr>
                <tr>
                    <td><button class="printbtns" (click)="ReceiptOption('p');">Print</button></td>
                    <td><button class="printbtns" (click)="ReceiptOption('e');">Email</button></td>
                </tr>
                <tr>
                    <td><button class="printbtns" (click)="ReceiptOption('b');">Both</button></td>
                    <td><button class="printbtns" (click)="ReceiptOption('n');">None</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="col-md-4"></div></div>