<div class="font-wrapper" [class.app-busy-cursor]="isUiBlocked">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid py-2">
      <div class="row align-items-center w-100 g-3" *ngIf="isUserLoggedIn">
        <div class="divMainMenu border rounded col-12 col-md-3 bg-white">
          <div class="main-menu-grid w-100 p-2">
            <div class="main-menu-icon-cell" (click)="gotoMainMenu()" style="cursor: pointer;">
              <svg class="btnGotoMainMenu text-primary" viewBox="0 0 24 24" role="button" tabindex="0" aria-label="Go To Main Menu" style="height: 36px; width: 36px; cursor: pointer;" >
                <path fill="currentColor" d="M4 6.75A2.75 2.75 0 0 1 6.75 4h10.5A2.75 2.75 0 0 1 20 6.75v10.5A2.75 2.75 0 0 1 17.25 20H6.75A2.75 2.75 0 0 1 4 17.25zm3.25.25a.75.75 0 0 0-.75.75v2.5c0 .41.34.75.75.75h2.5a.75.75 0 0 0 .75-.75v-2.5A.75.75 0 0 0 9.75 7zm7 0a.75.75 0 0 0-.75.75v2.5c0 .41.34.75.75.75h2.5a.75.75 0 0 0 .75-.75v-2.5a.75.75 0 0 0-.75-.75zm-7 6a.75.75 0 0 0-.75.75v2.5c0 .41.34.75.75.75h2.5a.75.75 0 0 0 .75-.75v-2.5a.75.75 0 0 0-.75-.75zm7 0a.75.75 0 0 0-.75.75v2.5c0 .41.34.75.75.75h2.5a.75.75 0 0 0 .75-.75v-2.5a.75.75 0 0 0-.75-.75z"/>
              </svg>
            </div>
            <div class="main-menu-vendor-cell fw-bold text-dark">{{VendorName + ' (' + VendorNumber + ')' || 'Vendor Name'}}</div>
            <div class="main-menu-label-cell text-dark fw-bold" (click)="gotoMainMenu()" style="cursor: pointer;">Main Menu</div>
            <div class="main-menu-location-cell small navbar-data-secondary">{{LocationName + ' (' + facilityNumber + ')' || 'Location Name'}}</div>
          </div>
        </div>


        <div class="CenterHeading text-center d-flex flex-column justify-content-center col-12 col-md-7">Point of Sale
          <div class="small navbar-data-secondary">{{TicketNumber > 0 ? ('Ticket# ' + TicketNumber) : ''}}</div>
        </div>

        <div class="divUserInfo col-12 col-md-2 d-flex flex-column align-items-center align-items-md-end gap-2">
          <div class="border rounded p-2 h-100 bg-white w-100">
            <div class="d-flex align-items-center justify-content-between gap-2">
              <div class="divLoggedInUserIcon d-flex align-items-center gap-2">
                <svg class="assImage text-primary" viewBox="0 0 24 24" role="img" aria-label="Logged in user" style="height: 32px; width: 32px;">
                  <path fill="currentColor" d="M12 12a4.25 4.25 0 1 0 0-8.5a4.25 4.25 0 0 0 0 8.5m0 1.5c-4.14 0-7.5 2.8-7.5 6.25c0 .41.34.75.75.75h13.5c.41 0 .75-.34.75-.75c0-3.45-3.36-6.25-7.5-6.25"/>
                </svg>
                <div class="divLoggedInUserNameRole">
                  <div id="AssocName" class="fw-bold text-dark">{{logonUserName || 'User Name'}}</div>
                  <div class="small navbar-data-secondary">{{logonUserRole || 'User Role'}}</div>
                </div>
              </div>
              <div class="divLogout">
                <a class="nav-link p-0 d-inline-flex align-items-center" href="#" id="lnkLogout" (click)="vlogout()" aria-label="Logout" title="Logout">
                  <svg viewBox="0 0 24 24" role="img" aria-hidden="true" style="height: 22px; width: 22px;" class="text-danger">
                    <path fill="currentColor" d="M10 4a1 1 0 0 1 1 1v2a1 1 0 1 1-2 0V6H6v12h3v-1a1 1 0 1 1 2 0v2a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1zm6.59 3.59a1 1 0 0 1 1.41 0l3.7 3.7a1 1 0 0 1 0 1.42l-3.7 3.7a1 1 0 1 1-1.41-1.42L18.59 13H10a1 1 0 1 1 0-2h8.59l-2-2a1 1 0 0 1 0-1.41" />
                  </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row align-items-center w-100 g-3" *ngIf="!isUserLoggedIn">
        <div class="col-12 col-md-6 d-flex flex-column align-items-center align-items-md-end gap-2">
          <div class="border rounded p-2 h-100 bg-white">
            <div class="d-flex align-items-center gap-2">Point of Sale</div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
      <router-outlet></router-outlet>
      <app-toast></app-toast>
      <!--<app-logon-vendorlt></app-logon-vendorlt>-->
  </div>

  <div *ngIf="isUiBlocked" class="global-ui-blocker" role="status" aria-live="polite" [attr.aria-label]="uiBlockMessage">
    <div class="global-ui-blocker-content">
      <div class="spinner-border text-light" role="presentation"></div>
      <div class="global-ui-blocker-text">{{uiBlockMessage}}</div>
    </div>
  </div>


 
