<div class="panel" style="">
    <div class="panel-body ms-2 me-2 mt-2 mb-2">
        <div class="row bkgray">
            <table class="table" style="margin-left: auto; margin-right: auto;">
                <thead>
                    <tr class="tktSaleItemHdr">
                        <td>Sale Item</td>
                        <td *ngIf="!allowTips">Quantity</td>
                        <td *ngIf="allowTips">Serviced By</td>
                        <td class="rightjustfy">Unit Price</td>
                        <td class="rightjustfy">Total Price</td>
                    </tr>
                </thead>
                <tr *ngFor="let itm of tktSaleItems; let i = index;" class="tktSaleItemsClass">
                    <td style="width:30%"><label class="label label-default">{{itm.salesItemDesc}}</label></td>
                    <td style="width:30%" *ngIf="!allowTips">
                        <div class="row">
                            <button type="button" style="width: 20%;" class="btn-primary btn" id="btnm{{i}}" (click)="btnMinusClicked($event, i);">
                                <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
                                </svg>
                            </button>
                            <span style="width: 33%;" class="label label-default">&nbsp; {{itm.quantity}} &nbsp;</span>

                                           
                            <button type="button" style="width: 20%;" class="btn-primary btn" id="btnp{{i}}" (click)="btnPlusClicked($event, i);">
                                <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                                </svg>
                            </button>
                        </div>
                    </td>
                    <td style="width:30%" *ngIf="allowTips">
                        <div class="row">

                            <button type="button" style="width:10%;" class="btn-primary btn" id="btnm{{i}}" (click)="btnMinusClicked($event, i);">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z" />
                                </svg>
                            </button><div style="width:1%"></div>                   
                            <select #ddlAssociate id="ddlAssociate_{{itm.salesItemUID}}_{{i}}" style="width:89%;" class="form-control dropdown" 
                                    (change)="onAssociateChange($event, +ddlAssociate.value, itm.salesItemUID, -1 * (i + 1), ddlAssociate.innerText)">
                                <option *ngFor="let indiv of SaleAssocList" value="{{indiv.individualLocationUID}}" [selected]="indiv.individualLocationUID == itm.srvdByAssociateVal">
                                {{indiv.firstName + ' ' + indiv.lastName}}
                                </option>
                            </select>
                        </div>
                    </td>
                    <td style="width:20%;text-align: right;" class="rightjustfy">
                        <label class="label label-default">{{dfltCurrSymbl}}{{itm.unitPrice | number:'1.2-2'}}</label>
                    </td>
                    <td style="width:20%;text-align: right;" class="rightjustfy">
                        <label class="label label-default">{{itm.unitPrice * itm.quantity | number:'1.2-2'}}</label>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>
