<div class="panel" style="background-color: lightgrey;">
    <div class="panel-body ms-2 me-2 mt-2 mb-2">
        <div class="row bkgray">
            <div class="col-md-3" *ngFor="let dept of deptList">
                <button type="button" class="dpt btn btn-info btn-block" 
                        style="margin-top: 10px;margin-bottom: 10px;" 
                        id="{{dept.departmentUID}}" (click)="deptClick($event, dept.departmentUID);">{{dept.departmentName}}</button>
            </div>
        </div>
    </div>
</div> 

