<div class="panel">
    <div class="panel-body">
        <table class="table">
            <tr>
                <td style="text-align: left;">
                    Tender Type:
                </td>
                <td style="text-align: right;">
                    Tender Amount: 
                </td>
            </tr>
            <tr *ngFor="let tndr of tndrs">
                <td style="text-align: left;">
                {{tndr.tenderTypeDesc}}
                </td>
                <td style="text-align: right;">
                {{tndr.tenderAmount}}
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="footer fixed-bottom cncsnFooter">
    <div class="row">
        
        <div class="row">
            <button *ngFor="let tndr of _displayTenders" class="border border-white btn btn-info btn-lg ftrbtn" id="{{tndr.tenderTypeCode}}"  [ngStyle]="{width: tenderButtonWidthPercent + '%'}" aria-label="Left Align" (click)="btnTndrClick($event)">                    
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2" viewBox="0 0 16 16">
                    <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z"/>
                  </svg> {{tndr.tenderTypeDesc}}
            </button>
        </div>
    </div>
</div>   