<div class="panel" style="background-color: lightgrey;">
    <div class="panel-body ms-2 me-2 mt-2 mb-2">
        <div class="row bkgray">
            <!-- <div style="display: none;">{{deptListRefreshEvent}}</div> -->
            <div class="col-md-3" *ngFor="let dept of deptList;">
                <button type="button"
                    [ngClass]="[ activeId === dept.departmentUID ? 'dpt btn btn-block btn-primary' : 'dpt btn btn-block btn-secondary' ]"
                    style="margin-top: 10px;margin-bottom: 10px;" id="{{dept.departmentUID}}"
                    (click)="deptClick($event, dept.departmentUID);">{{dept.departmentName}}</button>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body ms-2 me-2 mt-2 mb-2">
        
        <div id="saleItemList">
            <table class="table table-hover table-bordered align-middle">
                <thead class="table-dark">
                    <tr>
                        <th style="width: 90%;">Special Instruction</th>
                        <th style="width: 10%;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let instr of splInstructionAry; let i = index">
                        <td style="width: 90%;">
                            <input type="text" class="form-control" [(ngModel)]="instr.description" />
                        </td>
                        <td style="width: 10%;text-align: center;">
                            <button class="btn btn-warning btn-sm mt-1" type="button" (click)="onDeleteInstruction(instr.splInstructionUID)">
                                Delete
                            </button>
                        </td>
                    </tr>                                            
                </tbody>
            </table>
        </div>        
    </div>
</div>


<div class="footer fixed-bottom cncsnFooter">
    <div class="row g-0">
        <div class="col-12 col-md-4">
            <button
                class="border border-white btn btn-info btn-lg ftrbtn w-100 d-flex align-items-center justify-content-center gap-2"
                id="amAdd" type="button" (click)="onAddInstruction()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                    <path
                        d="M6 8c1.657 0 3-1.343 3-3S7.657 2 6 2 3 3.343 3 5s1.343 3 3 3zm4.5 1a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 0 1 0 1H11v1.5a.5.5 0 0 1-1 0V12H8.5a.5.5 0 0 1 0-1H10v-1.5a.5.5 0 0 1 .5-.5zM6 9c-2.33 0-7 1.17-7 3.5V14a1 1 0 0 0 1 1h7.256A4.48 4.48 0 0 1 7 12.5c0-.828.2-1.61.553-2.292C6.37 10.08 6.19 10 6 10z" />
                </svg>
                <span>Add Instruction</span>
            </button>
        </div>
        <div class="col-12 col-md-4">
            <button
                class="border border-white btn btn-info btn-lg ftrbtn w-100 d-flex align-items-center justify-content-center gap-2"
                id="amSave" type="button" (click)="onSaveInstructions()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-save-fill" viewBox="0 0 16 16">
                    <path
                        d="M8 1.5A1.5 1.5 0 0 0 6.5 3v1h3V3A1.5 1.5 0 0 0 8 1.5zM3 4v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4H3zm2 2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5A.5.5 0 0 1 5 6zm0 2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5A.5.5 0 0 1 5 8zm0 2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5A.5.5 0 0 1 5 10z" />
                </svg>
                <span>Save</span>
            </button>
        </div>
        <div class="col-12 col-md-4">
            <button
                class="border border-white btn btn-info btn-lg ftrbtn w-100 d-flex align-items-center justify-content-center gap-2"
                id="amSalesTran" type="button" (click)="onSalesTransaction()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-cart-fill" viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5A.5.5 0 0 1 0 1.5" />
                    <path d="M5 12a2 2 0 1 0 0 4a2 2 0 0 0 0-4m5 0a2 2 0 1 0 0 4a2 2 0 0 0 0-4" />
                </svg>
                <span>Sales Transaction</span>
            </button>
        </div>
    </div>
</div>