
    <div class="modal-header">
        <h4>Enter Tips</h4>
    </div>
    <div class="modal-content">
        <table class="table table-striped">
            <tr><th>Serviced By</th><th>Tip</th></tr>
        <tr *ngFor="let assoc of assocSaleTips;" class="form-group">
            <td><label>{{assoc.firstName + ' ' + assoc.lastName}}</label></td>
            <td><input type="number" TwoDigitDecimalDirectiveDirective class="dc saleassocid form-control" id="dc{{assoc.indivLocId}}" [(ngModel)]="assoc.tipAmount"  /></td>
            <!-- <td><input type="number" class="ndc saleassocid form-control" id="ndc{{assoc.individualUID}}" [ngModel]="assocSaleTips[i].tipAmtLocCurr | number: '0.2-2'" /></td> -->
        </tr>
        <tr>
            <td><label>Total:</label></td>
            <td>
                <input type="number" TwoDigitDecimalDirectiveDirective class="dc saleassocid form-control" id="dcTotal" value="{{dcTotal}}" (change)="onTotalAmountChanged($event)" (keydown)="keyValidate($event)" />
            </td>
            <!-- <td>
                <input type="number" class="ndc saleassocid form-control" id="ndcTotal" value="{{ndcTotal}}" />
            </td> -->
        </tr>
    </table>
</div>
    <div class="modal-footer">
        <div class="row">
            <button class="btn btn-info" (click)="Save()">Save</button>&nbsp;
            <button class="btn btn-info" (click)="Cancel()">Cancel</button>&nbsp;
        </div>
    </div>

